<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 350px;">
      <h4 class="text-center mb-3"><strong>Registration</strong></h4>
  
      <form>
        <div class="mb-3">
          <label for="username" class="form-label">Username:</label>
          <input type="text" id="username" class="form-control" [(ngModel)]="username" name="username" required />
        </div>
  
        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required />
        </div>
  
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" required />
        </div>
  
        <div class="mb-3">
          <label for="fullName" class="form-label">Full Name:</label>
          <input type="text" id="fullName" class="form-control" [(ngModel)]="fullName" name="fullName" required />
        </div>
  
        <button type="submit" class="btn btn-primary w-100">Register</button>
      </form>
  
      <div class="text-center mt-3">
        <a [routerLink]="['/app-login']" class="text-primary">Already have an account? Login here</a>
      </div>
    </div>
  </div>
  